@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;800;900&family=Roboto:wght@300;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html, body{
    width: 100%;
    height: 100%;
}

.navbar{
    display: flex;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 20px;
    font-weight: 550;
    position: fixed;
    background-color: #fff;
    top: 0%;
    width: 100%;
}

.navbar img{
    width: 20px;
}

.navbar ul{
    display: flex;
    list-style: none;
}

.navbar ul li{
    margin-left: 40px;
}

.nav-icons img{
    margin-left: 30px;
}

.offers{
    background-color: #000;
    color: #fff;
    margin-top: 60px;
    padding: 30px 0 5px 0;
    text-align: center; 
}

a{
    text-decoration: none;
    color: #0000ff;
}

.back-video video{
    width: 100%;
}

.section{
    background-color: #f0f0f0;
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
    padding-top: 60px;
}

.titles h1{
    text-align: center;
    /* margin-right: 150px; */
}

.service img{
    height: 30px;
    width: 30px;
    border-radius: 50%;
}

.products{
    background-color: #f0f0f0;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    padding-top: 20px;
    padding-bottom: 50px;
}

.product{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* justify-content: center; */
}
.products img{
    height: 100px;
    margin-bottom: 10px;
}

.product a{
    text-decoration: none;
    color: #000     ;
}

.card-container{
    text-align: center; 
    margin: 50px 0 50px 0;
}

.card-container>h1{
    margin-bottom: 50px;
}

.cards{
    display: flex;
    justify-content: space-evenly;
}

.card{
    height: 470px;
    width: 400px;
    box-shadow: 0 5px 15px #00000027;
    text-align: center;
    border-radius: 30px;
    padding: 20px;
    transition: all ease-in-out 0.3s;
}

.card img{
    height: 220px;
}

.card p{
    padding-bottom: 20px;
}

.dark>img{
    height: 180px;
}

.card:hover{
    transform: scale(1.1);
    color: #fff;
    background-color: #000;
    cursor: pointer;
}

.apple-events{
    color: #fff;
    background-color: #000;
    padding-top: 50px;
    text-align: center;
}

.event-images{
    display: flex;
    justify-content: space-evenly;
    margin: 50px 0 50px 0;
}

.event-images img{
    height: 400px;
}

.case{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 0 60px 0 60px;
}

.case img{
    height: 650px;
}

.case h1{
    font-size: 40px;
}

.store{
    display: flex;
}

.store img{
    width: 25px;
    margin-right: 20px;
}

.menu-items{
    background-color: #f0f0f0;
    padding: 20px 40px 20px 40px;
}

.store{
    margin-bottom: 20px;
}

.menu-list{
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.menu-list ul li{
    list-style: none;
}

footer{
    text-align: center;
}